body {
    background-color: #f8f9fa;
}



.column {
    min-height: 200px;
    padding: 20px;
    border-radius: 5px;
}

.column.over {
    background-color: #f0f0f0;
}

/*lOGIN*/
.boton {
    border: none;
    background-color: #3b82f6;
    padding: 12px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
}

.boton:hover {
    background-color: #3b82f6;
    border-color: #3b82f6;
}


a {
    color: #1e3a8a;
    text-decoration: none;
    font-weight: 600;
}

p {
    font-size: 0.9rem;
    color: #555;
}

.content{
    width: 20%;
}

a {
    color: #1e3a8a;
    text-decoration: none;
    font-weight: 600;
}

p {
    font-size: 0.9rem;
    color: #555;
}

/*TABLERO KANVAN*/
.enca {
    display: flex;
    justify-content: space-between; /* Separa el título a la izquierda y la imagen a la derecha */
    align-items: center;
    background-color: #8ddf78;
    color: white;
    padding: 1%;
}

.tit2 {
    font-weight: bold;
    font-size: 70px;
    flex-grow: 1; /* Hace que el título ocupe el espacio necesario sin afectar el botón */
    text-align: center; /* Centra el texto */
    margin: 0; /* Evita márgenes inesperados */
}

.colu{
    width: 20%;
}



.derec {
    display: flex;
    align-items: center;
}

.process{
    border:1px solid black;
    padding: 4%;
}

.azulito{
    box-shadow: 10px 10px #3a1de1;
}

.naranja{
    box-shadow: 10px 10px #fea50f;
}

.morado{
    box-shadow: 10px 10px #771f75;
}
.verde{
    box-shadow: 10px 10px #377c2a;
}

.nueva-tarea {
    width: 100%;
    margin-top: 5%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    padding: 5%;
    font-size: 16px;
    font-weight: bold;
}
.nueva-tarea:hover {
    transform: translateY(-1px);
}

.tarea {
    width: 100%;
    font-size: 10px;
    cursor: pointer;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5%;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infor {
    flex-grow: 1;
}

.botones {
    display: flex;
}
.botones i{
    font-size: 30px;
}


.tarea:hover {
    transform: translateY(-5px);
}


#eliminarTarea {
    background-color: #dc3545; /* Color rojo para indicar acción destructiva */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    margin-right: 10px; /* Espacio entre los botones */
}

#eliminarTarea:hover {
    background-color: #c82333; /* Rojo más oscuro al pasar el mouse */
    transform: translateY(-2px); /* Desplazamiento hacia arriba al pasar el mouse */
}

/* Estilos para el botón de Modificar */
#modificarTarea {
    background-color: #28a745; /* Verde para indicar acción positiva */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

#modificarTarea:hover {
    background-color: #218838; /* Verde más oscuro al pasar el mouse */
    transform: translateY(-2px); /* Desplazamiento hacia arriba al pasar el mouse */
}
